{% extends "layout.html" %}
{% block content %}
<main class="container" id="about">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">About Us</div>
                        <div class="card-body">
                           
                        </div>
                    </div>
            </div>
        </div>
    </div>

</main>
{% endblock %}