
<main class="container" id="signup">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">Your Details</div>
                        <div class="card-body" style="background-color: skyblue>
                            <form name="my-form" action="/signup" method="POST">
                                <div class="form-group row">
                                    <label for="full_name" class="col-md-4 col-form-label text-md-right">Full Name</label>
                                    <div class="col-md-6">
                                        <input type="text" id="full_name" class="form-control" name="full_name">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="user_name" class="col-md-4 col-form-label text-md-right">User Name</label>
                                    <div class="col-md-6">
                                        <input type="text" id="user_name" class="form-control" name="user_name">
                                    </div>
                                </div>
                                <!----
                                <div class="form-group row">
                                    <label for="Age" class="col-md-4 col-form-label text-md-right">Age</label>
                                    <div class="col-md-6">
                                        <input type="text" id="Age" class="form-control" name="Age">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="Gender" class="col-md-4 col-form-label text-md-right">Gender</label>
                                    <div class="col-md-6">
                                        <label class="radio-inline"><input type="radio" name="optradio" >Male</label>
                                        <label class="radio-inline"><input type="radio" name="optradio">Female</label>
                                        
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="ISD-Mobile" class="col-md-4 col-form-label text-md-right">ISD-Mobile</label>
                                    <div class="col-md-6">
                                        
                                        <input type="number" id="Mobile" class="form-control" name="Mobile">
                                    </div>
                                </div>

                                <div class="form-group row">
                                        <label for="Address Line-1" class="col-md-4 col-form-label text-md-right">Address Line-1</label>
                                        <div class="col-md-6">
                                            <input type="text" id="Address Line-1" class="form-control" name="Address Line-1">
                                        </div>
                                    </div>
                                
                                    <div class="form-group row">
                                            <label for="Address Line-2" class="col-md-4 col-form-label text-md-right">Address Line-2</label>
                                            <div class="col-md-6">
                                                <input type="text" id="Address Line-2" class="form-control" name="Address Line-2">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                                <label for="City" class="col-md-4 col-form-label text-md-right">City</label>
                                                <div class="col-md-6">
                                                    <input type="text" id="City" class="form-control" name="City">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                    <label for="State" class="col-md-4 col-form-label text-md-right">State</label>
                                                    <div class="col-md-6">
                                                        <input type="text" id="State" class="form-control" name="State">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                        <label for="Country" class="col-md-4 col-form-label text-md-right">Country</label>
                                                        <div class="col-md-6">
                                                            <input type="text" id="Country" class="form-control" name="Country">
                                                        </div>
                                                    </div>---->
                                <div class="form-group row">
                                    <label for="email_address" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
                                    <div class="col-md-6">
                                        <input type="text" id="email_address" class="form-control" name="email_address">
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                                    <div class="col-md-6">
                                        <input type="password" id="password" class="form-control" name="password">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="cpassword" class="col-md-4 col-form-label text-md-right">Confirm Password</label>
                                    <div class="col-md-6">
                                        <input type="password" id="cpassword" class="form-control" name="cpassword">
                                    </div>
                                </div>

                                    <div class="col-md-6 offset-md-4">
                                        <button type="submit" class="btn btn-primary">
                                        Register
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
            </div>
        </div>
    </div>

</main>